.order-by-dialog {
    background-color: var(--medium-gray);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: absolute;
    right: 1rem;
    z-index: 10;
}

.order-by-dialog__button {
    background-color: transparent;
    border: none;
    color: var(--white);
    padding: 0.8rem 0.8rem;
    text-align: right;
    text-transform: uppercase;
}

.order-by-dialog__button.activated-button {
    background-color: var(--dark-gray);
}