.artist-card-wrapper {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.artist-card {
    align-items: flex-end;
    color: var(--dark-gray);
    display: flex;
    text-transform: uppercase;
    text-align: left;
}

.artist-card__img {
    border-radius: 50%;
    height: 3.2rem;
    margin-right: 1rem;
    object-fit: cover;
    width: 3.2rem;
}

.artist-card__info h2 {
    font-size: 1.1rem;
    font-weight: 500;
}

.artist-card__info span {
    color: var(--medium-gray);
}

.artist-card__divider {
    border-color: var(--light-gray);
    margin: 0.5rem 0;
    opacity: 0.2;
}