:root {
  --white: #fafafa;
  --black: #121212;
  --orange: #f04d22;
  --orange-transparency: #f04f22cc;
  --dark-gray: #333333;
  --medium-gray: #999999;
  --light-gray: #efefef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
